	<!-- Header -->
	<%- include('../includes/header.ejs') -%>
      <!-- sidebar-->
      <%- include('../includes/sidebar.ejs') -%>

      <!-- Main section-->
      <section>
         <!-- Page content-->
         <div class="content-wrapper">
            <div class="content-heading">
               All Components
               <small data-localize="dashboard.WELCOME"></small>
            </div>
            <!-- START widgets box-->
            <div class="row">
               <div class="col-lg-12">
                  <div class="panel panel-default">
                     <div class="panel-heading">Our Components</div>
                     <div class="panel-body">
                        <div class="table-responsive">
                           <table class="table table-striped">
                              <thead>
                                 <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th></th>
                                    <th></th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr>
                                    <td>1</td>
                                    <td>Mark</td>
                                    <td>Some more description here. Some more description here. Some more description here. Some more description here. Some more description here. Some more description here. Some more description here. Some more description here. </td>
                                    <td>
                                    	<a href="#forms" title="Forms" data-toggle="collapse">
					                        <em class="icon-note"></em>
					                        <span data-localize="sidebar.nav.form.FORM">Edit</span>
					                 	</a>
                 					</td>
                 					<td>
                 						<a href="#forms" title="Forms" data-toggle="collapse">
					                        <em class="icon-note"></em>
					                        <span data-localize="sidebar.nav.form.FORM">Delete</span>
					                 	</a>
                 					</td>
                                 </tr>
                                 <tr>
                                    <td>2</td>
                                    <td>Jacob</td>
                                    <td>Some more description here. Some more description here. Some more description here. Some more description here. Some more description here. Some more description here. Some more description here. Some more description here. </td>
                                    <td>
                                    	<a href="#forms" title="Forms" data-toggle="collapse">
					                        <em class="icon-note"></em>
					                        <span data-localize="sidebar.nav.form.FORM">Edit</span>
					                 	</a>
                 					</td>
                 					<td>
                 						<a href="#forms" title="Forms" data-toggle="collapse">
					                        <em class="icon-note"></em>
					                        <span data-localize="sidebar.nav.form.FORM">Delete</span>
					                 	</a>
                 					</td>
                                 </tr>
                                 <tr>
                                    <td>3</td>
                                    <td>Larry</td>
                                    <td>Some more description here. Some more description here. Some more description here. Some more description here. Some more description here. Some more description here. Some more description here. Some more description here. </td>
                                    <td>
                                    	<a href="#forms" title="Forms" data-toggle="collapse">
					                        <em class="icon-note"></em>
					                        <span data-localize="sidebar.nav.form.FORM">Edit</span>
					                 	</a>
                 					</td>
                 					<td>
                 						<a href="#forms" title="Forms" data-toggle="collapse">
					                        <em class="icon-note"></em>
					                        <span data-localize="sidebar.nav.form.FORM">Delete</span>
					                 	</a>
                 					</td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            
         </div>
      </section>
      <!-- Page footer-->
      <%- include('../includes/footer.ejs') -%>
   